.output_div{
    margin: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
}
.output{
    width: fit-content;
    margin: 10px auto;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 5px 10px #888888;
}
.button{
    width: 10%;
    margin: auto;
    box-shadow: 5px 10px #888888;
    border-radius: 10px;
}